.controller-time_summary .filters > div,
.controller-manage_summary .filters .apply {
    margin-top: 8px;
}

.controller-time_summary .filters label:first-child {
    display: inline-block;
}

.controller-time_summary .filters .apply {
    display: inline-block;
}

.controller-time_summary .wrapper {
    margin-top: 20px;
    overflow-x: auto;
}

.controller-time_summary .holiday {
    background-color: #ffbfb8;
}

.controller-time_summary .hardtime {
    color: red;
    font-weight: bold;
}

.controller-time_summary .overtime {
    color: darkorange;
    font-weight: bold;
}

.controller-time_summary .lowtime {
    color: #555555;
}

.controller-time_summary .notime {
    color: #999999;
}

.controller-time_summary .targetdate {
    border-left: solid red 3px;
    border-right: solid red 3px;
}

.controller-time_summary .cellnormal {
    border-top: solid lightgray 1px;
    border-bottom: solid lightgray 1px;
}

.controller-time_summary .number-field {
    text-align: right;
    padding-left: 10px;
    padding-right: 2px;
}

.controller-time_summary .name-field {
    min-width: 80px;
    text-align: left;
    padding-left: 2px;
    padding-right: 2px;
}
